/* border */
$thatch: #e8f0ff;

/* main */
$blue: #248EA6;
$blue-main: #276873;
$cerulean: #09BCCE;
$welcome-bg-color: #2a4aa547;
$black: #000;
$black-opacity-30: rgba(0, 0, 0, 0.3);
$black-opacity-40: #0000006b;
$white: #fff;
$white-opacity-30: rgba(255, 255, 255, 0.3);
$white-opacity-20: rgba(255, 255, 255, 0.2);
$gray: #00000094;
$white-gray: #ccc;

/* finished button */
$finished-button-color: #0597F2;

/* question */
$cascade: #39d7e8;
$humming-bird: #e1fff1;
$ice-cold: #B3ECF2;

/* answers */
$success-color: rgba(41, 217, 85, 0.7);
$error-color: rgba(255, 57, 111, 0.7);
$akaroa: rgba(242, 220, 224, 0.35);

/* finished */
$check-success: rgba(3, 166, 90, 0.8);
$check-error: rgba(242, 68, 5, .8);

/* loader */
$gray-tech-1: #dae4e5;
$gray-tech-2: #adbcbf;
$gray-tech-3: #77868b;
$gray-tech-4: #53585a;