@font-face {
  font-family: 'Rubik Mono One';
  src:  url('./fonts/RubikMonoOne-Regular.woff2') format('woff2'),
        url('./fonts/RubikMonoOne-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Press Start 2P';
  src:  url('./fonts/PressStart2P-Regular.woff2') format('woff2'),
        url('./fonts/PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans TC';
  src:  url('./fonts/NotoSansTC-Regular.woff2') format('woff2'),
        url('./fonts/NotoSansTC-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
