@font-face {
  font-family: 'Noto Sans TC';
  src:  url('../fonts/NotoSansTC-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansTC-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
